* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    margin: 0;
    background-color: #eaeaea;
}

/* HEADER */
header {
    background-color: #1a1a1a;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px;
}

header h1 {
    font-size: 50px;
}

/* NAV */
nav ul {
    display: flex;
    justify-content: center;
    background-color: #f1c40f;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    padding: 15px 25px;
    font-weight: bold;
    border-right: 1px solid black;
}

nav li:last-child {
    border-right: none;
}

/*CINTAS ANIMADAS*/
@keyframes moverCinta {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.cinta,
.cinta2,
.cinta3,
.cinta4 {
    position: relative;
    overflow: hidden;
    height: 40px;
}

.cinta::before,
.cinta2::before,
.cinta3::before,
.cinta4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    animation: moverCinta 40s linear infinite;
}

.cinta::before,
.cinta4::before {
    background: repeating-linear-gradient(
        135deg,
        #f1c40f 0px,
        #f1c40f 20px,
        #000 20px,
        #000 40px
    );
}
.cinta2::before,
.cinta3::before {
    background: repeating-linear-gradient(
        45deg,
        #f1c40f 0px,
        #f1c40f 20px,
        #000 20px,
        #000 40px
    );
}
/* DIRECCION OPUESTA*/
.cinta::before,
.cinta2::before {
    animation-direction: normal;
}

.cinta3::before,
.cinta4::before {
    animation-direction: reverse;
}
/* SECCIONES */
section {
    padding: 50px 20px;
    text-align: center;
}

/* MATERIALES */
.materiales {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.material {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    flex: 1 1 200px;
    max-width: 260px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: transform 0.2s;
    cursor: pointer;
}

.material:hover {
    transform: scale(1.10);
}

.material p {
    font-size: 14px;
}

/* TITULOS */
h2 {
    margin-bottom: 20px;
    color: #333;
}

h3 {
    margin-top: 40px;
    color: #f1d847;
     text-shadow: 
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

h4 {
    margin-bottom: 10px;
    color: #000;
}

/* Catálogo */
.catalogo {
    padding: 20px 20px;
    font-size: 20px;
    text-align: center;
}

/*PRODUCTOS*/
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    max-width: 1100px;
    margin: 0 auto;
}

.producto {
    background: white;
    padding:20px;
    border-radius: 15px;
    width: 250px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
    transition: transform 0.2s;
    
}

.producto img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.producto:hover {
    transform: scale(1.10);
}

.precio{
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

button {
    background-color: #f1c40f;
    border: none;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #d4ac0d;
}

/* CONTACTO */
.contacto {
    background-color: #1a1a1a;
    color: white;
    text-align: center;
    padding: 40px 20px;
    margin-top: 50px;
}

.contacto h2 {
    color: white;
}

/* FOOTER */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

.inacap img {
    width: 2%;
    height: 20px;
}